.wrapper{
    width: 160px;
    background-color: aqua;
    border-radius: 10px;
}

.card{
    position: relative;
    width: 160px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
}


.titleWrapper{
    margin-top:-1px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pill{
    font-size: 12px ;
    background-color: var(--color-black);
    width: max-content;
    padding: 6px;
    border-radius: 10px;
}